.not-found {
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: auto !important;
    height: 500px;
    font-size: 100px;
    font-weight: 700;
}
